<nav class="links fadeIn animated">
    <ul>
        <li class="instagram">
            <a title="Instagram" href="https://www.instagram.com/juandesr/">
                <i class="fa fa-fw fab fa-instagram"></i>
            </a>
        </li>
    </ul>
</nav>